
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap');
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.isi_website{
  padding: 0 20vh 0 10vh;
}
/* navigasi */
.kepala_website {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px groove black;
  background-color: white;
  height: 100px;
}
.navigasi_website ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: auto;
  margin-top: 35px;
}
.navigasi_website li {
  display: inline-block;
  list-style: none;
  margin-right: 30px;

}
.navigasi_website li a {
  color: black;
  text-decoration: none;
  font-family: "Tiktok Sans";
  font-weight: 600;
  font-size: 20px;
  overflow-x: auto;
}
.navigasi_website li a:hover {
  color: aqua ;
}
.logo_website h2{
  margin-top : 30px;
  font-family: "Roboto Slab";
  margin-left: 30px;
  color: black;
} 
.badan_website {
  text-decoration: none;
}
.badan_website p {
  font-family: "Tiktok Sans";
  margin-top: 20px;
}
@media only screen and (max-width: 900px) {
   
}
